<h1 class="text-center">Search Results</h1>

<div class="text-center">
	<% if @cities.present? %>
		<% render @cities %>
	<% else %>
		<p>We don't have <%= params[:search] %> available yet.</p>
		<p>Click New City below to add <%= params[:search] %> to our list.</p>
		<%= link_to "New City", new_city_path %>
	<% end %>
</div>
<div class="text-center">
	<% @cities.each do |city| %>
		<h3><%= city.name %></h3>
		<p><%= city.country %></p>
		<%= link_to "See More", city_path(city) %>
	<% end %>
</div>
