<h1 class="text-center"><%= link_to "Cities", "/" %></h1>
<hr>
<div class="jumbotron text-center">
	<%= form_tag(cities_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Cities" %>
		<%= submit_tag "Search" %>
	<% end %>
</div>
<hr>
<br>
<div class="text-center">
	<% if @cities.present? %>
		<% render @cities %>
	<% else %>
		<p>We don't have <%= params[:search] %> available yet.</p>
		<p>Click New City below to add <%= params[:search] %> to our list.</p>

	<% end %>
</div>
<div class="text-center">
	<% @cities.each do |city| %>
		<h3><%= city.name %></h3>
		<p><%= city.country %></p>
		<%= link_to "See More", city_path(city) %>
	<% end %>
</div>
<br>
<hr>
<div class="text-center">
	<%= link_to "New City", new_city_path %>
	<%= link_to "Cities List", "/" %>
</div>