<div class="container-fluid text-center" id="city_style">
	<h2><%= @city.name %></h2>
    <small class="text-muted"><%= @city.country %></small>
    <br>
	<a href="#" type="button" data-toggle="modal" data-target="#experience_modal">Post an Experience</a>
            <div class="modal fade" id="experience_modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Post an Experience</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <%= form_for([@city, @city.experiences.build]) do |f| %>
                                <div class="form-group row">
                                    <%= f.label :title, :class => "col-3 col-form-label" %></label>
                                    <div class="col-9">
                                        <%= f.text_field :title, :id => "exp-title-input", :required => true %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <%= f.label :description, :class => "col-3 col-form-label" %>
                                    <div class="col-9">
                                        <%= f.text_field :description, :id => "exp-desc-input", :required => true %>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <%= f.submit 'Post Experience', :class => "btn post_exp_submit" %>
                                </div>

                                <!--
                                <div class="form-group row offset-3">
                                	<div class="form-check form-check-inline">
  										<label class="form-check-label col-3">
    										<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"><i class="fa fa-cutlery" aria-hidden="true"></i>
  										</label>
									</div>
									<div class="form-check form-check-inline">
  										<label class="form-check-label col-3">
    										<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"><i class="fa fa-tree" aria-hidden="true"></i>
  										</label>
									</div>
									<div class="form-check form-check-inline">
  										<label class="form-check-label col-3">
    										<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"><i class="fa fa-glass" aria-hidden="true"></i>
  										</label>
									</div>
									<div class="form-check form-check-inline">
  										<label class="form-check-label col-3">
    										<input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4"><i class="fa fa-camera" aria-hidden="true"></i>
  										</label>
									</div>
                                </div>
                                -->
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
</div>

<hr id="hr_style">


<div class="container-fluid">
    <% if Experience.where(city_id: @city.id).blank? %>
        <div class="text-center" id="no_exp">
            <p>There are no experiences yet. Be the first to post one!</p>
        </div>
    <% else %>
        <% @city.experiences.order('votes desc').each do |experience| %>
            
            <div class="row text-center" id="experience_block">
                <div class="col-1">
                    <div class="row" id="row_1">
                        <div class="col-6" id="rank_style">
                            <p><%= experience.id %></p>
                            
                        </div>
                        <div class="col-6" id="counter_style">
                            <% if experience.votes.blank? %>

                            <% else %>
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                <div>
                                    <p id="counter_number"><%= experience.votes %></p>
                                </div>
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-10" id="experience_words">
                    <p class="text-left" id="experience_title_style"><%= experience.title %></p>
                    <p class="text-left" id="experience_desc_style" maxlength="50"><%= experience.description %></p>
                </div>
                <div class="col-1" id="category_style">
                    <!--<i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>-->
                    <%= experience.category %>
                </div>
            </div>
        <% end %>
            
    <% end %>
</div>

