<!DOCTYPE html>
<html>
  <head>
    <title>EcIo2</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
    
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div>
      <%= yield %>  
    </div>
    
    <%= render 'layouts/footer' %>
    <%= render 'layouts/bootstrap' %>
  </body>
</html>
