<!DOCTYPE html>
<html>
  <head>
    <title>ExploreCities.io</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
    
    <div class="container-fluid text-center">
      <% if notice %>
        <p class="notice" id="flash_notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert" id="flash_notice"><%= alert %></p>
      <% end %>
    </div>

    <div>
      <%= yield %>  
    </div>
    
    <%= render 'layouts/footer' %>
    <%= render 'layouts/bootstrap' %>
  </body>
</html>
